# Event Response API
# RSVP / Отклики на тренировки, матчи и турниры
# Полиморфная система ответов через event_type + event_id

openapi: 3.0.3
info:
  title: Event Response API
  version: 1.0.0
  description: |
    API для управления откликами (RSVP) на события: тренировки, матчи, турниры.
    
    Полиморфная архитектура: одна таблица для всех типов событий через поля `event_type` и `event_id`.
    
    ## Статусы отклика
    - `yes` — Приду / участвую
    - `no` — Не приду / не участвую
    - `maybe` — Возможно приду
    - `pending` — Нет ответа (default)

servers:
  - url: https://api.squadup.ru/v1

tags:
  - name: event-responses
    description: Управление откликами на события

paths:
  /events/{eventType}/{eventId}/responses:
    parameters:
      - name: eventType
        in: path
        required: true
        schema:
          type: string
          enum: [training, match, tournament]
        description: Тип события
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
        description: ID события

    get:
      summary: Получить отклики на событие
      description: |
        Получает список всех откликов на событие с разбивкой по статусам.
        Доступно для тренеров и админов события.
      tags: [event-responses]
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [yes, no, maybe, pending]
          description: Фильтр по статусу
        - name: with_users
          in: query
          schema:
            type: boolean
            default: true
          description: Включить данные пользователей
      responses:
        '200':
          description: Список откликов
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: object
                    properties:
                      yes: { type: integer }
                      no: { type: integer }
                      maybe: { type: integer }
                      pending: { type: integer }
                      total: { type: integer }
                  responses:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    post:
      summary: Создать/обновить отклик
      description: |
        Создает или обновляет отклик текущего пользователя на событие.
        Один пользователь может оставить только один отклик на событие.
      tags: [event-responses]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [yes, no, maybe]
                  description: Статус отклика
                comment:
                  type: string
                  maxLength: 500
                  description: Комментарий (причина отсутствия и т.д.)
      responses:
        '201':
          description: Отклик создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        '200':
          description: Отклик обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /events/{eventType}/{eventId}/my-response:
    parameters:
      - name: eventType
        in: path
        required: true
        schema:
          type: string
          enum: [training, match, tournament]
      - name: eventId
        in: path
        required: true
        schema:
          type: integer

    get:
      summary: Получить свой отклик
      description: Получает отклик текущего пользователя на событие
      tags: [event-responses]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Отклик найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        '404':
          description: Отклик не найден (пользователь еще не ответил)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: pending

  /events/{eventType}/{eventId}/responses/{userId}:
    parameters:
      - name: eventType
        in: path
        required: true
        schema:
          type: string
          enum: [training, match, tournament]
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
      - name: userId
        in: path
        required: true
        schema:
          type: integer
        description: ID пользователя (для детей — родитель может ответить за них)

    put:
      summary: Обновить отклик другого пользователя
      description: |
        Позволяет родителю обновить отклик за своего ребенка.
        Также может использоваться тренерами для массовой установки статусов.
      tags: [event-responses]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [yes, no, maybe, pending]
                comment:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: Отклик обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    delete:
      summary: Удалить отклик
      description: Удаляет отклик (сбрасывает в pending)
      tags: [event-responses]
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Отклик удален
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /events/bulk/responses:
    post:
      summary: Массовое создание откликов
      description: |
        Позволяет установить одинаковый отклик для нескольких событий сразу.
        Полезно для родителей, отвечающих за расписание ребенка.
      tags: [event-responses]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_ids, event_type, status]
              properties:
                event_ids:
                  type: array
                  items:
                    type: integer
                  minItems: 1
                  maxItems: 50
                event_type:
                  type: string
                  enum: [training, match, tournament]
                status:
                  type: string
                  enum: [yes, no, maybe, pending]
                comment:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: Отклики обновлены
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated:
                    type: integer
                  responses:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventResponse'

  /users/{userId}/events/upcoming:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: event_type
        in: query
        schema:
          type: string
          enum: [training, match, tournament, all]
          default: all
      - name: response_status
        in: query
        schema:
          type: string
          enum: [yes, no, maybe, pending, all]
          default: all
      - name: days
        in: query
        schema:
          type: integer
          default: 30
          maximum: 90

    get:
      summary: Предстоящие события пользователя с откликами
      description: |
        Получает предстоящие события для пользователя с текущими откликами.
        Родители могут видеть события своих детей.
      tags: [event-responses]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Список событий с откликами
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    event:
                      oneOf:
                        - $ref: './training.yaml#/components/schemas/Training'
                        - $ref: './match.yaml#/components/schemas/Match'
                        - $ref: './tournament.yaml#/components/schemas/Tournament'
                    response:
                      $ref: '#/components/schemas/EventResponse'

components:
  schemas:
    EventResponse:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        event_type:
          type: string
          enum: [training, match, tournament]
          description: Тип события (полиморфная связь)
        event_id:
          type: integer
          description: ID события
        user_id:
          type: integer
          description: ID пользователя
        status:
          type: string
          enum: [yes, no, maybe, pending]
          description: Статус отклика
        comment:
          type: string
          nullable: true
          maxLength: 500
          description: Комментарий к отклику
        responded_by:
          type: integer
          nullable: true
          description: ID пользователя, ответившего за этого (родитель)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user:
          $ref: './user.yaml#/components/schemas/UserShort'

  responses:
    UnauthorizedError:
      description: Требуется авторизация
      content:
        application/json:
          schema:
            $ref: './auth.yaml#/components/schemas/Error'

    ForbiddenError:
      description: Доступ запрещен
      content:
        application/json:
          schema:
            $ref: './auth.yaml#/components/schemas/Error'

    NotFoundError:
      description: Событие не найдено
      content:
        application/json:
          schema:
            $ref: './auth.yaml#/components/schemas/Error'

    ValidationError:
      description: Ошибка валидации
      content:
        application/json:
          schema:
            $ref: './auth.yaml#/components/schemas/Error'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
