/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

.ai
/docs/interface/
/docs/c4.zip
/docs/interface-analysis.docx
/docs/interface-analysis.js
/docs/Детская лига - ТЗ.docx
/docs/API_MIGRATION_AUDIT.md
/.gigaide/
